MATVERSE_WORKSPACE=./workspace
MATVERSE_MODEL=qwen3:4b
MATVERSE_OLLAMA_URL=http://127.0.0.1:11434
MATVERSE_MAX_STEPS=32
MATVERSE_COMMAND_TIMEOUT=180
MATVERSE_MAX_OUTPUT_CHARS=60000
MATVERSE_NETWORK_ENABLED=0
MATVERSE_SHELL_ENABLED=1
MATVERSE_APPROVAL_MODE=on-risk
MATVERSE_HOST=127.0.0.1
MATVERSE_PORT=8766
MATVERSE_SEARXNG_URL=http://127.0.0.1:8080
MATVERSE_WEB_WORKERS=3
